$boxBG:#af9683;
$testBG:#bca38f;
$contentBG:#fff;
$active:#000;
$normal:#fff;
$fontColor:#4f4535;
$normalFont:#333;
$border:rgba(200, 200, 205, 0.4);
$footBG:#fff;
$footActive:#af9683;
$footFont:#af9683;
$leftBG:#fff;
$leftColor:#af9683;
$leftActive:#af9683;
$headH:1rem;
$gradientBG:linear-gradient(to right, #9e948c 0%, #af9683 100%);
$messageBG:#6f4f35;
$message:#fff;
$PopWindowBG:"../../common/style/images/head_gold.png";