$boxBG:#a9493a;
$testBG:#a9493a;
$contentBG:#fff;
$active:#000;
$normal:#fff;
$fontColor:#393732;
$normalFont:#333;
$border:rgba(200, 200, 205, 0.4);
$footBG:#fff;
$footActive:#a9493a;
$footFont:#a9493a;
$leftBG:#fff;
$leftColor:#a9493a;
$leftActive:#a9493a;
$headH:1rem;
$messageBG:#6b2b21;
$message:#fff;
$gradientBG:linear-gradient(to right, #d05141 0%, #882d19 100%);
$PopWindowBG:"../../common/style/images/head_red.png";