$boxBG:rgb(25, 128, 95);
$testBG:rgb(25, 128, 95);
$contentBG:#fff;
$active:#000;
$normal:#fff;
$fontColor:#393732;
$normalFont:#333;
$border:rgba(200, 200, 205, 0.4);
$footBG:#fff;
$footActive:rgb(25, 128, 95);
$footFont:rgb(25, 128, 95);
$leftBG:#fff;
$leftColor:rgb(25, 128, 95);
$leftActive:rgb(25, 128, 95);
$headH:1rem;
$messageBG:rgb(33,154,116);
$message:#fff;
$gradientBG:linear-gradient(to right, #66ab96 0%, #34966a 100%);
$PopWindowBG:"../../common/style/images/head_green.png";